﻿@using Grand.Web.Common.Page
@{
    Layout = "";
}
<div class="twitter-login-block">
    <div class="buttons">
        <a href="@Url.Action("TwitterLogin", "TwitterAuthentication", new { ReturnUrl = Context.Request.Query["ReturnUrl"].ToString()})" >Twitter</a>
    </div>
</div>
