﻿@{
    Layout = "_SingleColumn";
}
@model Authentication.Twitter.Models.FailedModel
<div class="page Twitter-login">
    <div class="page-title">
        <h1>@Loc["Authentication.Twitter.Failed"]</h1>
    </div>
    <div class="page-body">
        <div class="alert alert-danger">
            @Loc["Authentication.Twitter.Failed.ErrorCode"]: @Model.ErrorCode <br>
            @Loc["Authentication.Twitter.Failed.ErrorMessage"]: @Model.ErrorMessage
        </div>
    </div>
</div>
